.env
*.bak
*.BAK

__pycache__/
*.py[cod]
.venv/
venv/

airflow/logs/*
!airflow/logs/.gitkeep

data/
tmp/
*.log

.vscode/
.idea/
.DS_Store
Thumbs.db
data-lake/raw/
data-lake/curated/
data-lake/manifests/*.json
airflow/logs/
airflow/dags/__pycache__/